<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verity AI</title>
    <link rel="icon" type="image/png" href="{{ url_for('maeser.static', filename='maeser.png') }}">
    <link rel="stylesheet" href="{{ url_for('maeser.static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h2>Verity AI</h2>
    </header>

    <div style="margin: 4rem auto 0 auto;">
        {% if conversation_index > 0 %}
        <a href="{{ url_for('display_test', filename=filename, conversation_index=conversation_index-1) }}">Previous</a>
        {% endif %}
        {% if conversation_index < num_conversations-1 %}
            <a href="{{ url_for('display_test', filename=filename, conversation_index=conversation_index+1) }}">Next</a>
        {% endif %}
    </div>

    <h1>Version {{version}}: Test {{test_num}}</h1>
    <b>Branch: {{branch}}</b>
    <hr style="color: black;width: 97%;margin: 1rem;">
    <h2>{{question | safe}}</h2>
    <hr style="color: black;width: 97%;margin: 1rem;">
    <p>{{answer | safe}}</p>

    <br>
    <hr style="color: black;width: 97%;margin: 1rem;">
    <h2>Metrics</h2>
    <hr style="color: black;width: 97%;margin: 1rem;">
    <b>Answer Correctness:</b> {{ metrics['answer_correctness'] }}<br>
    <b>Answer Relevancy:</b> {{ metrics['answer_relevancy'] }}<br>
    <b>Answer Similarity:</b> {{ metrics['answer_similarity'] }}<br>
    <b>Context Entity Recall</b> {{ metrics['context_entity_recall'] }}<br>
    <b>Context Precision</b> {{ metrics['context_precision'] }}<br>
    <b>Context Recall</b> {{ metrics['context_recall'] }}<br>
    <b>Context Relevancy</b> {{ metrics['context_relevancy'] }}<br>

    <hr style="color: black;width: 97%;margin: 1rem;">
    <h2>Contexts</h2>
    <hr style="color: black;width: 97%;margin: 1rem;">
    {% for context in contexts %}
        {{context}}<br>
    {% endfor %}

    <br>
    <a href="{{ url_for('tests') }}", style="margin-top: 2rem">Back to list</a>
</body>
</html>