<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app_name }}</title>
    {% if favicon %}
        <link rel="icon" href="{{ favicon }}">
    {% else %}
        <link rel="icon" type="image/png" href="{{ url_for('maeser.static', filename='maeser.png') }}">
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('maeser.static', filename='styles.css') }}">
</head>
<body>
    <!--
    © 2024 Carson Bush, Blaine Freestone

    This file is part of Maeser.

    Maeser is free software: you can redistribute it and/or modify it under the terms of
    the GNU Lesser General Public License as published by the Free Software Foundation,
    either version 3 of the License, or (at your option) any later version.

    Maeser is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
    without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
    PURPOSE. See the GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License along with
    Maeser. If not, see <https://www.gnu.org/licenses/>.
    -->

    <header>
        <div class="header-wrapper">
            {% if main_logo_dark %}
                <img src="{{ main_logo_dark }}">
            {% else %}
                <img src="{{ url_for('maeser.static', filename='maeser.png') }}">
            {% endif %}
            <button id="reset-button-mobile" class="reset-button hide">
                <i class="bi bi-trash-fill"></i>
            </button>
        </div>
    </header>
    <main>
        <form action="{{ url_for('maeser.submit_feedback') }}" method="POST" class="standalone-form" id="feedback">
            <label for="name">Name <span id="required">*</span></label>
            <input type="text" id="name" name="name" required>
            <label for="feedback">Feedback <span id="required">*</span></label>
            <textarea id="feedback" name="feedback" required style="min-height: 15rem;"></textarea>
            <label for="role">Role <span id="required">*</span></label>
            <select id="role" name="role" required>
                {% for option in role_options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>

            <label for="category">Category <span id="required">*</span></label>
            <select id="category" name="category" required>
                {% for option in category_options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
            <div class="button-container">
                <button type="submit">Submit</button>
                <button onclick="goBack()" class="negative-button">Cancel</button>
            </div>
        </form>
    </main>
    <script src="{{ url_for('maeser.static', filename='feedback.js') }}"></script>
</body>
</html>