body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.header {
    background-color: #1c3373;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    display: flex;
}

.sidebar {
    width: 220px;
    background-color: #eaeaea;
    padding: 20px;
    height: calc(100vh - 50px); /* subtract header height */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #1c3373;
    font-weight: bold;
}

.content {
    flex: 1;
    padding: 20px;
}
