# Langchain libraries for text processing and embeddings
langchain==0.2.11
langchain_core==0.2.26
langchain_community==0.2.10
langchain_openai==0.1.19
langchain-text-splitters==0.2.2
langgraph==0.1.17
# this is separated out now
#langgraph-checkpoint-sqlite

# FAISS for vector stores (choose either faiss-cpu or faiss-gpu depending on your setup)
faiss-cpu
# faiss-gpu

# Web backend
flask
flask-login

# Turning markdown into HTML for display
markdown
pymdown-extensions
markdownify
requests

# Unit testing
ragas

# Documentation
sphinx
sphinx_rtd_theme
myst_parser
sphinx-book-theme

# Default logger
pyYAML
