# Langchain libraries for text processing and embeddings
langchain==0.2.17
langchain_core==0.2.43
langchain_community==0.2.19
langchain_openai==0.1.25
langchain-text-splitters==0.2.4
langgraph==0.1.19

# FAISS for vector stores (choose either faiss-cpu or faiss-gpu depending on your setup)
faiss-cpu==1.8.0.post1

# Web backend
flask==3.0.3
flask-login==0.6.3

#Caedm Authenticator 
ldap3==2.9.1

# Turning markdown into HTML for display
markdown==3.6
pymdown-extensions==10.8.1
markdownify==0.14.1
requests

# Unit testing
ragas==0.1.10

# Documentation
sphinx==8.2.3
sphinx_rtd_theme==2.0.0
myst_parser==3.0.1
sphinx-book-theme==1.1.3
sphinxcontrib-mermaid==1.0.0

# Default logger
pyYAML==6.0.2

# Discord
discord==2.3.2
