# Data manipulation and numerical computations
pandas
numpy

# Plotting and visualization
matplotlib

# Langchain libraries for text processing and embeddings
langchain
langchain_core
langchain_community
langchain_openai
langchain-text-splitters
langgraph

# Jekyll site processing
python-frontmatter

# FAISS for vector stores (choose either faiss-cpu or faiss-gpu depending on your setup)
faiss-cpu
# faiss-gpu

# Web backend
flask
flask-login
flask-principal
ldap3

# Turning markdown into HTML for display
markdown
pymdown-extensions
markdownify
pdf2image

# Interactive terminal session
pyinputplus

# Unit testing
ragas

# Documentation
sphinx
sphinx_rtd_theme
myst_parser
sphinx-book-theme

# configuration
pyYAML

# python-poppler  # This needs CMAKE
