name: Run Python tests
on: [push]
jobs:
  build:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: pip install -r requirements/requirements.txt
      - name: Install pytest
        run: pip install pytest
      - name: Set PYTHONPATH using GITHUB_ENV
        run: echo "PYTHONPATH=${{ github.workspace }}/maeser:$PYTHONPATH" >> $GITHUB_ENV
      - name: Run pytest
        run: pytest tests/
